# Variable and Operator

**[Slide No.- 19]**

1. Which one of the following is correct way of declaring and initialising a variable, x with value 5?

A. int x
  
    x=5

B. int x=5

C. x=5

D. declare x=5

In [2]:
x=5
x

5

In [50]:
int x=5

SyntaxError: ignored

**[Slide No.-19]**

2. Which of the following is not valid variable name in Python?

A. _var = 6

B. var_name = 6

C. var11 = 6

D. 11var = 6

In [5]:
_var=6
_var
var_name=6
var11=6
11var=6
var_name

SyntaxError: ignored

**[Slide No.- 19]**


3. Which of the following will give error?

A. a=b=c=1

B. a,b,c=1

C. a b c=1, 4, 1.5

D. None of the above

In [14]:
a=b=c=1
a,b,c=1
abc=1,4,1.5

TypeError: ignored

In [15]:
abc=1,4,1.5
abc

(1, 4, 1.5)

In [16]:
a,b,c=1

TypeError: ignored

**[Slide No.- 21]**

4. What is the output of the following code

x = 6

y = 2

a=print(x ** y)

b= print(x // y)

In [19]:
x=6
y=2
a=print(x**y)

36

**[Slide No.-21]**

# find the value of this expression (v+w) * x/ y
v = 4

w = 5

x = 8


y = 2

z = 0

In [20]:
v=4
w=5
x=8
y=2
z=0
(v+w)*x/y

36.0

**[Slide No.- 21]**

6. What is the output of print(10 - 4 * 2)

In [21]:
print(10-4*2)

2

**[Slide No.-21]**

7. What is the output of print(2 * 3 ** 3 * 4)

In [22]:
print(2*3**3*4)

216

8. What is the output of the expression  print(-18 // 4)

In [28]:
print(-18//4)

-5

In [ ]:
x=8
x -=8+x    # X+8+8       x += 8       # x-(8+x)=x-8-x
print(x)

-8

**[Slide No.- 21]**

9. Write a program to check 5 is less then 10 or greater then 3.

In [38]:
x=5 
a=10
b=3
if x<a or x>b:
  print("5 is less then 10 or greater then 3")
else:
  print(NA)

5 is less then 10 or greater then 3

In [39]:
x=5 
a=10
b=3
x<a and x>b

True

In [ ]:
a=int(input('enter number'))    # usaed to take the input from the user
b=int(input('enter number'))
c=int(input('enter number'))
if a<b and a>c:
  print('true')
else:
  print('false')

enter number5
enter number6
enter number8
false

10 . Write a program  by using 'and' ,'or' And 'not' operator ?

In [42]:
x=3
y=6
x<y and y>x

True

In [43]:
x=3
y=6
x<y or y<x

True

In [44]:
x=5
y=18
not((x+y)<(x-y))

True

**[Slide No.- 27]**

11. What is the output of the following assignment operator

y = 10

y += 2

print(y)

In [45]:
y = 10
y += 2
y

12

**[Slide No.-27]**

12. What is the output of the code .

x=5

x +=x+4

print(x)

In [46]:
x=5
x +=x+4
x

14

**[Slide No.-27]**

13.  what is the output :

y=7

x  +=y+4

print(x)

In [47]:
y=7
x +=y+4
x

25

In [ ]:
x=6                #110
x=x|3              #011   
print(x)           #  010

7

In [ ]:
x=6
x=x>>2                 # 6 = 110 --> 011 --> 001 = 1 

print(x)

1

-5