<a href="https://colab.research.google.com/github/abhishek2906/Decodr/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Slide No- 39]

1. Create empty tuple and check its Data type.

In [4]:
tuple = ()
type(tuple)

tuple

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [5]:
T2 = ("Apple", "Banana", "Orange")

T3 = (10,20,30,40,50)

type(T2)

tuple

In [6]:
T3 = (10,20,30,40,50)
type(T3)

tuple

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [10]:
tup = (1,2,3,4,5,6,7)
tup[0]

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [11]:
tup = (1,2,3,4,5,6,7)
print(tup[8])

IndexError: ignored

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [12]:
tup1=(1,2,3)
tup2=(3,4,5)
tup1+tup2

(1, 2, 3, 3, 4, 5)

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [27]:
tup1=(1,2,3,7,9)
a=list(tup1)
a.remove(1)
a

[2, 3, 7, 9]

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [5]:
tup1=(1,2,3,4)
a=list(tup1)
a
del a [1:3]
a

[1, 4]

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [10]:
tuple1 = (1, 2, 3, 4, 5)
tuple1[-2:]

(4, 5)

In [12]:
tuple1[-2]

4

In [18]:
a=list(tuple1)

In [20]:
a

[1, 2, 3, 4, 5]

In [21]:
a[-5:]

[1, 2, 3, 4, 5]